.top-section {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  
  .title-and-subtitle {
    display: flex;
    gap: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    /* border: 1px solid blue; */
    width: 314px;

    h1 {
      font-size: 1.916rem;
      color: #364459;
      line-height: 120%;

      span {
        color: var(--primary-color);
      }
    }

    h2 {
      color: #868F9B;
      margin-bottom: 5px;
      font-size: 0.958rem;
      line-height: 150%;
    }

    h3 {
      color: var(--primary-color);
      font-weight: bold;
      font-size:0.8rem;
      margin-bottom: 29px;
      letter-spacing: 1px;
    }
  }
}

.persona-section {
  position: relative;

  img {
    width: 100%;
    display: block;
  }

  button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 215px;
    height: 45.1px;
    font-size: 11.49px;
    color: #FFFFFF;
    border-radius: 7.66px;
    letter-spacing: 2px;
    background-color: var(--primary-color);
  }
}

.about-section {

  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 10px 31px 0px 31px;

  .about-content {
    min-width: 327px;
    height: 326px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    padding: 24px 24px 24px 24px;
    background: linear-gradient( -50deg, rgba(255, 255, 255, 0.45) 0%,rgba(0, 140, 255, 0) 100%);


    .about-title-content {
      display: flex;

      h2 {
        color: #FFFFFF;
        font-weight: bold;
        letter-spacing: 1px;
        margin-left: 6px;
        padding-left: 6px;
      }     
    }

    .paragraph-content {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      color: #FFFFFF;
      line-height: 151%;
    }
  }
}

.card-section {
  padding: 0px 31px 0px 31px;
  background-color: var(--primary-color);
  padding-bottom: 64px;

  .about-title {
    font-size: 1.916rem;
    color: #FFFFFF;
    line-height: 120%;
    margin-bottom: 48px;
    padding-top: 64px;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.speakers-section {
  padding: 0px 24px 0px 24px;
  background-color: var(--primary-color);

  .speakers-title {
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 48px;
  }

  .speakers-content {   
    .speakers-card-content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  
}

.FAQ-section {
  padding: 64px 24px 0px 24px;
  background-color: var(--primary-color);

  h2 {
    font-size: 30.65px;
    color: #FFFFFF;
  }

  .FAQ-content {
    margin-top: 48px;
    min-width: 342px;
  }
}

