.card {
  min-width: 327px;
  background-color: #FFFFFF;
  border-radius: 14px;
  padding: 26px 19px 26px 19px;

  .image-content{
    margin-bottom: 24px;
  }

  h2 {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
  }

  p {
    font-weight: 500;
    font-size: 15.32px;
    color: #364459;
    line-height: 149%;
  }
}